




$primarycolor :#eb6a3d;
$colortow:#ca3423;
$basiccolor:b7b7b7;
$secondcolor:gray;
$backgroundcolor:#363636;
$basic:#FFFF;
$fontfamily: 'Open Sans', sans-serif;



body {


    font-family: "Open Sans", sans-serif !important;
   
  

}







