 
 



  <!-- ======= Features Section ======= -->
  <section class="features" id="features">

    <div class="container text-center">
        <div class="section-header">
            <h3>Our Services</h3>
  
            <div class="bordersthemeview">
                <div class="border1"></div>
                <div class="border2"></div>
                <div class="border3"></div>
            </div>
          </div>
  
      <div class="row p-5">
        <div class="feature-col col-lg-4 col-xs-12">
          <div class=" card card-block text-center">
            <div>
            
              
              <div class="feature-icon">
                <div class="overlay">
                <img class="w-50" src="../../assets/icon1.png">
              </div>
              </div>
  
            </div>
  
            <div>
              <h3>
                Service one
              </h3>
  
              <p>
                Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. 
                              </p>
            </div>
          </div>
        </div>
        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <div class="overlay">
                <img class="w-50" src="../../assets/icon2.png">  
                  </div>
              </div>
            </div>
            <div>
              <h3>
                Service one
              </h3>
              <p>
                Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. 
                  </p>
            </div>
          </div>
        </div>
  
        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <div class="overlay">
                <img class="w-50" src="../../assets/icon3.png">                  </div>
            </div>
            </div>
  
            <div>
              <h3>
                Service one
            </h3>
  
              <p>
                Preserved defective offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted.                   </p>
            </div>
          </div>
        </div>
      </div>
  
      <button class="btn btserv">View All Servies</button>
  
      
    </div>
  
  </section><!-- End Features Section -->
 
 
 
 
 
 
 
 
 
 <!--Start overview-->
 <section class="overview" id="overview">

    <div class="container text-center p-4">
  
        <div class="section-header">
            <h3>overview</h3>
  
            <div class="bordersthemeview">
                <div class="border1"></div>
                <div class="border2"></div>
                <div class="border3"></div>
            </div>
          </div>
  
          <div class="pargh">
              <p>
                Andalusia is one of the leading regional players in the healthcare provision space in the Middle East. With a network of general hospitals, specialized medical centers, and polyclinics across Egypt and Saudi Arabia, Andalusia has built a unique footprint both in service spectrum and geographically. Andalusia Group for Medical Services was founded in 1984 by the entrepreneur Dr. Darweesh Zagzoug as a single hospital in Jeddah, Saudi Arabia; and grown over 30 years to own and manage several healthcare facilities in both Saudi and Egypt. The second generation family owner Dr. Hazem Zagzoug, the current CEO has made it possible for a renowned financial institution like the IFC to join forces to serve more than 7 million patients in the last 10 years with amicable quality, and creating 2000 new jobs. We are proud of our origin, our progress, as well as our partners. 
              </p>
          </div>
  
  
    </div>
  </section>
  <!--End overview-->
  