<!--Start Blog-->
<section class="statstic" id="statstic">
    <div class="container text-center p-5">

        <div class="section-header">
            <h3>Statistics</h3>

            <div class="bordersthemeblogs">
                <div class="border1"></div>
                <div class="border2"></div>
                <div class="border3"></div>
            </div>
          </div>

          <div class="row p-4">

              <div class="col-lg-3 col-6">
                  <div class="stactheme">
                    <i class="fas fa-walking"></i>
                    <span  class="counter">3,21570</span>
                    <h4>Clients Servieced</h4>
                  </div>
              </div>

              <div class="col-lg-3 col-6">
                <div class="stactheme">
                    <i class="fas fa-cogs"></i> 
                   <span  class="counter">5140</span>
                  <h4>Clients Servieced</h4>
                </div>
            </div>

            <div class="col-lg-3 col-6">
                <div class="stactheme">
                    <i class="fas fa-users"></i>
                     <span  class="counter">618520</span>
                  <h4>Clients Servieced</h4>
                </div>
            </div>


            <div class="col-lg-3 col-6">
                <div class="stactheme">
                    <i class="fas fa-map-marker-alt"></i>
                   <span  class="counter">741396</span>
                  <h4>Clients Servieced</h4>
                </div>
            </div>


          </div>
    </div>
</section>
<!--End Blo-->









<!--Start Blog-->
<section class="blogs" id="blogs">


    <div class="container text-center">

        <div class="section-header">
            <h3>Rcent News</h3>

            <div class="bordersthemeblogs">
                <div class="border1"></div>
                <div class="border2"></div>
                <div class="border3"></div>
            </div>
          </div>

          <div class="row">

              <div class="col-lg-4 col-md-6">
                  <div class="box">
                      <div class="picblog">
                          <img class="w-100" src="../../assets/neeeewsssss2.png">

                      </div>
                      <div class="content">
                          <h3>How to improve your sales Volum</h3>
                          <span>20 Aug 2018</span>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, amet architecto recusandae laborum 

                          </p>
                         <button class="botn">Read More</button>
                      </div>
                  </div>
              </div>

              <div class="col-lg-4 col-md-6">
                <div class="box">
                    <div class="picblog">
                        <img class="w-100" src="../../assets/neeeeeeeeeews1.png">

                    </div>
                    <div class="content">
                        <h3>How to improve your sales Volum</h3>
                        <span>20 Aug 2018</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, amet architecto recusandae laborum 

                        </p>
                       <button class="botn">Read More</button>
                    </div>
                </div>
            </div>


            <div class="col-lg-4 col-md-6">
                <div class="box">
                    <div class="picblog">
                        <img class="w-100" src="../../assets/neeeeewwww3.png">

                    </div>
                    <div class="content">
                        <h3>How to improve your sales Volum</h3>
                        <span>20 Aug 2018</span>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, amet architecto recusandae laborum 

                        </p>
                       <button class="botn">Read More</button>
                    </div>
                </div>
            </div>
              

           


          </div>
    </div>
</section>
<!--End Blo-->