





<section id="offics" class="offics mt-2 mb-5">

  <div class="container mt-3 pad text-center">

    <div class="section-header">
      <h3>Executive Officers</h3>

      <div class="bordersthemeblogs">
          <div class="border1"></div>
          <div class="border2"></div>
          <div class="border3"></div>
      </div>
    </div>

    <div class="row p-2 pad">
      <div class="col-lg-6 col-md-6">

        <div class="mainsec">
          <div class="box">
            <div class="picblog">
                <img class="w-100" src="../../assets/member1.png">

            </div>
            <div class="content" >
                <h3 class="name">Hazem Dariwshh</h3>
                <span class="title">Cheif Exeutive Officer</span>

                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                </p>
                <hr>                
              <div class="social-links">
                <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                <a href="#" class="google-plus"><i class="fab fa-google-plus-g"></i></a>
                <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>

              </div>
            </div>
        </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="row">

          <div class="col-lg-6 col-md-6 col-6 text-center">

            <div class="contentbox box1 member" data-title="Engeneer">
              <img class="w-100" src="../../assets/member2.png">
              <span class="name"> Mr.Alaa Ghonimmy</span>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-6 text-center">

            <div class="contentbox box1 member"  data-title="Engeneer">
              <img class="w-100"  src="../../assets/member3.png">
              <span class="name"> Dr.Mohamed AbdlRasoul</span>
            </div>
          </div>
        </div>
       
        <div class="row">

          <div class="col-lg-6 col-md-6 col-6 text-center">
            <div class="contentbox member" data-title="BackOffice">
              <img class="w-100"  src="../../assets/member4.png">
              <span class="name">Mr.Walaa Kadry</span>
            </div>
          </div>

          <div class="col-lg-6 col-md-6 col-6 text-center">
            <div class="contentbox member" data-title="Software Engenner">
              <img class="w-100"  src="../../assets/member5.png">
              <span class="name"> Dr.AbdlHakim Gmal ELDin</span>
            </div>
          </div>
        </div>

        
      </div>
    </div>
 </div>
</section>