


<section class="themes text-center" id="themes">
    <div class="container text-center">

        <div class="section-header">
            <h3>Greate Parteners</h3>

            <div class="borderstheme">
                <div class="border1"></div>
                <div class="border2"></div>
                <div class="border3"></div>
            </div>
          </div>
    </div>

     <div class="container p-5 text-center">
         <div class="row">

            <div class="owl-carousel themes-carousel">

                <div class="themeone"><img  src="../../assets/444444.png"></div>
                <div class="themeone"><img  src="../../assets/444444.png"></div>
                <div class="themeone"><img  src="../../assets/444444.png"></div>
                <div class="themeone"><img  src="../../assets/444444.png"></div>
                <div class="themeone"><img  src="../../assets/444444.png"></div>
                <div class="themeone"><img  src="../../assets/444444.png"></div>



              </div>

         </div>
     </div>

 </section>